.todo_entry {

  .todo_entry__done_btn {
    background: transparent;
    border: 0;
    cursor: pointer;
    display: inline;
    font-size: ($font-size-base * 1.4);
    font-weight: $close-font-weight;
    line-height: 1;
    margin-right: 6px;
    padding: 0;
    position: relative;
    top: 1px;
    -webkit-appearance: none;
  }
}

.todo_entry--done {
  color: $text-muted;

  .todo_entry__name {
    text-decoration: line-through;
  }
}
