@import "bootstrap";

body {
  padding-top: 50px;
}

:active, :focus {
  outline: none;
}

.close-inline-left {
  display: inline;
  float: none;
  margin-right: 10px;
}

.todo_entry--done {
  color: $text-muted;
  text-decoration: line-through;

  .close {
    visibility: hidden;
  }
}
