<!DOCTYPE html>
<html>
  <head>
    <title>RailsReactDemo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <a class="navbar-brand" href="#">A Very Special React Demo</a>
    </nav>

    <div class="container-fluid">
      <%= yield %>
    </div>

    <footer class="container-fluid">
      <p class="text-center">
        Built with &hearts; by
        <a href="https://github.com/ninjascribble">ninjascribble</a>
      </p>
    </footer>
  </body>
</html>
